@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$primary-color: hsl(257,
40%,
49%);
$secondary-color: hsl(300,
69%,
71%);
$poppin-txt: 'Poppins',
sans-serif;
$open-txt: 'Open Sans',
sans-serif;
body {
    margin: 0;
    padding: 0;
    font-family: $open-txt;
    font-weight: 400;
    color: white;
    background-color: $primary-color;
    background-image: url('images/bg-desktop.svg');
    background-repeat: no-repeat;
}

#logo {
    margin: 10px;
    padding: 30px 0 30px 70px;
}

.container-main {
    display: flex;
    margin: 0 20px;
    .mockups {
        flex: 2;
        padding: 15px 0 0 60px;
    }
    .community {
        h3 {
            font-family: $poppin-txt;
            font-weight: 600;
            font-size: 31px;
        }
        p {
            font-family: $open-txt;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 1px;
        }
        flex: 1;
        padding: 50px 120px 0 0;
        .btn-register {
            border: none;
            color: $primary-color;
            cursor: pointer;
            border-radius: 50px;
            font-family: $poppin-txt;
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;
            width: 200px;
            height: 50px;
        }
        .btn-register:hover {
            color: #fff;
            background-color: $secondary-color;
        }
    }
}

.container-footer {
    display: flex;
    margin-top: 30px;
    .attribution {
        flex: 2;
        text-align: center;
        a {
            color: $secondary-color;
        }
    }
    .footer-logo {
        flex: 1;
    }
}